.page {
  background-color: #f8efe8;
  padding-top: 8vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8vh;
}

.container {
  background-color: #fff;
  border-radius: 19px;
  padding: 2em 3em;
}

.title {
  margin: 0;
  margin-bottom: 0.7em;
}

.content {
  display: flex;
  justify-content: space-between;
}

.sectionTitle {
  margin-bottom: 1.8em;
  font-size: 0.8em;
}
