.title {
  margin: 40px auto;
}

.description {
  width: 30vw;
  height: 30vh;
  padding: 15px;
  border: 1.5px solid #FF9A16;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  line-height: 1.5;
}

.buttonNext {
  width: 130px;
  height: 50px;
  margin-top: 30px;
  padding-bottom: 4px;
  font-size: 22px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: #FF9A16;
  cursor: pointer;
}