.card {
  text-align: left;
  font-size: 0.70em;
  width: 18em;
  margin-bottom: 2em;
  padding: 1.6em 1.5em;
  border: 2px solid #ff9a16;
  border-radius: 17px;
}

.cardUnfinished {
  border: 2px solid #ff9a16;
}

.cardInWork {
  border: 2px solid #000;
}

.cardFinished {
  border: 2px solid #999999;
  background-color: #f4f4f4;
}

.cardBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  padding-bottom: 2em;
}

.label {
  color: #5a5a5a;
  width: 45%;
}

.buttons {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.btnChange,
.btnDelete {
  border: none;
  border-radius: 17px;
  font-size: 1em;
  padding: 0.6em 1.3em;
  background-color: #ff9a16;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btnChange {
  margin-right: 0.7em;
}

.btnChange:hover {
  opacity: 0.7;
}

.btnDelete {
  background-color: #c1c1c1;
}

.btnDelete:hover {
  filter: brightness(0.9);
}
