.stepsIcon {
  height: 3em;
  display: inline-block;
}

.stepper {
  align-items: center !important;
  justify-content: center;
  gap: 30px;
}

.step {
  display: flex;
  align-items: center;
  gap: 50px;
  flex: none !important;
  -webkit-flex: none !important;
}

.btn {
  border: none;
  border-radius: 17px;
  font-size: 0.8em;
  padding: 0.6em 1.3em;
  background-color: #ff9a16;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.btnNext {
  /* border: none;
  border-radius: 17px;
  font-size: 1em;
  padding: 0.6em 1.3em;
  background-color: #ff9a16;
  color: #fff;
  font-weight: bold;
  cursor: pointer; */
}

.btn:disabled {
  background-color: #c1c1c1;
}

/* .MuiBox-root {
  flex: 0 0 auto !important;
  -webkit-flex: none !important;
}  */
