.reviewsSection {
  background-color: #f8efe8;
  padding-top: 2em;
  padding-bottom: 5em;
}

.headerText {
  margin-top: 0;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
}
