.container {
  height: 99vh;
  background-color: #f8efe8;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.greeting {
  max-width: 40%;
  margin-left: 140px;
  padding: 0 0 30vh;
  display: flex;
  flex-direction: column;
  text-align: left;
  z-index: 1;
}

.logo {
  margin-bottom: 30%;
}

.title {
  margin: 0 0 30px;
  font-size: 2em;
  font-weight: 700;
}

.span {
  background: linear-gradient(0.25turn, #FF9A16, #FEC200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
  display: flex;
  gap: 30px;
  align-items: center;
}

.button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #FF9A16;
  color: white;
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
}

.button:hover {
  align-items: center;
  background: #ffb24e;
}

.nav {
  height: max-content;
  margin: 30px 5vw;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  z-index: 1;
}

.link {
  text-decoration: none;
  color: #FF9A16;
  font-size: 20px;
  cursor: pointer;
}

.dog {
  position: absolute;
  top: 0;
  right: 0;
  height: 122.5vh;
  z-index: 0;
}
