.container {
  background-color: #f8efe8;
  padding-top: 3vh;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;
}

.block {
  width: 100%;
  height: 450px;
  background: #FFFFFF;
  border-radius: 20px 20px 0 0;
}

.text {
  margin: 0 83px 20px;
  padding-top: 60px;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #FF9A16;
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.button:hover {
  align-items: center;
  background: #ffb24e;
  cursor: pointer;
}

input {
  margin: 10px 45px 10px 10px;
  font-size: 18px;
  width: 180px;
  height: 45px;
  background: #FFFFFF;
  border: 1.5px solid #FF9A16;
  outline: none;
}

.bottom_text {
  font-family: 'Stratos LC Web';
  color: #545454;
  margin: 0px 83px 20px;
  padding-top: 150px;
  text-align: left;
  font-size: 19px;
}

.dog {
  position: absolute;
  bottom: -84px;
  right: 250px;
  height: 300px;
  z-index: 0;
}