.card {
  width: 20vw;
  padding: 3vh 2vw;
  border-radius: 10px;
}

.info {
  text-align: left;
}

.head {
  display: flex;
}

.title {
  font-size: 0.8em;
  font-weight: bold;
}

.quotesIconSvg {
  width: 2vw;
}

.avatarImg {
  border-radius: 50%;
  width: 7vw;
}

.text {
  text-align: left;
  font-size: 0.8em;
}
